body {
  background-color: #FAF8EF;
  font-family: helvetica, sans-serif;
}

#content {
  width:500px;
  height: 800px;
  margin: 0 auto;
  box-sizing: border-box;
}

.container {
  width: 500px;
  height: 575px;
  margin: 0 auto;
  border-radius: 5px;
  display: inline-block;
}

.header {
  width: 100%;
  height: 75px;
  float: right;
  text-align: center;
  color: #fff;
  background-color: #BBADA0;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  font-size: 48px;
  padding: 10px;
  box-sizing: border-box;
  text-align: left;
}

.score {
  font-size: 48px;
}

.score-container {
  float: right;
  display: inline-block;
  font-size: 14px;
  text-align: center;
}

.game-container {
  background-color: #BBADA0;
  padding: 10px;
  margin: 0 auto;
  box-sizing: border-box;
  display: inline-block;
  width: 100%;
}

.instructions-container {
  background-color: #BBADA0;
  color: #fff;
  width: 100%;
  height: 225px;
  padding: 10px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  text-align: center;
  font-size: 24px;
  margin: 0 auto;
  display: inline-block;
  box-sizing: border-box;
  margin-top: -4px;
}

.instructions {
  width: 90%;
  text-align: left;
  font-size: 16px;
  margin: 0 auto;
}

.row {
  display: block;
  width: 100%;
}

.cell {
  background-color: #fff;
  box-sizing: border-box;
  float: left;
  width: 16px;
  height: 16px;
  border: 1px solid #eee;
}

.cell.snake, .sample-snake {
  background-color: #0c9;
}

.cell.snake-poisoned, .sample-snake-poisoned {
  background-color: #CC6699;
}

.cell.apple, .sample-apple {
  background-color: #A80000;
}

.cell.golden-apple, .sample-golden-apple {
background-color: #FF9900;
}

.cell.poison-apple, .sample-poison-apple {
  background-color: #660066;
}

.sample-snake, .sample-apple, .sample-golden-apple, .sample-poison-apple {
  height: 16px;
  width: 16px;
  display: inline-block;
}
